* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    color: #fff;
    text-align: center;
    background-color: #1C1D1F;

}

h1 {
    margin-top: 2rem;
}

section {
    width: 80%;
    margin: 2rem auto;
}


p {
    font-size: 1.2rem;
    text-align: left;
    line-height: 1.8rem;
}

.citacao span {
    margin-left: 40em;
    font-style: italic;
    font-size: 1.1rem;
}

img {
    width: 70%;
    margin: 2rem 0;
}

figure figcaption {
    margin-top: -20px;
}